<!DOCTYPE html>
<html>
<head>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title></title>
</head>
<body>
	<ul id='navbar'>
		<li class='navbarLink'><a href="/">Logo</a></li>
		<li class ='navbarPipe'></li>
		<li class='navbarLink'><a href="/new">New</a></li>
		<li class ='navbarPipe'></li>
		<li class='navbarLink'>Tags</li>
		<li class ='navbarPipe'></li>
		<li class='navbarLink'>Archive</li>
		<li class ='navbarPipe'></li>
		<li class='navbarLink'>About</li>
	</ul>
	<div id ='headerSpacer'></div>