<%include partials/header.ejs %>
<h1> edit page</h1>
<div class = 'newEditWell' >
	<form class='editBtn' method="post" id='editForm' role='form' action="/<%= post.id %>"" enctype="multipart/form-data">
		<input type="text" name="title" class='newFormInput' placeholder="title" value= '<%=post.title  %>'/>
		<br/>
		<textarea form ="editForm" rows="4" class='newFormInput' cols="50" name="body" placeholder="body"><%=post.post  %></textarea>
		<br/>
		<input type="submit" class='newFormInput' name="submit"/>
	</form>
</div>
<%include partials/footer.ejs %>