<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title></title>
</head>
<body>
	<h1>This is kays blog</h1>
	<script type="text/javascript" src='js/scripts.js'></script>
</body>
</html>`