<h1>this is the new page</h1>

<div class = 'newEditWell' >
	<form method="post" id='newForm' action="/">
		<input type="text" name="title" placeholder="title"/>
		<br/>
		<textarea form ="newForm" rows="4" cols="50" name="body" placeholder="body"></textarea>
		<br/>
		<span>Pic 1:</span><input type="file" name="pic=One"/>
		<br/>
		<span>Pic 2:</span><input type="file" name="picTwo" />
		<br/>
		<input type="submit" name="submit"/>
	</form>
</div>