<%include partials/header.ejs %>
<h1>this is the new page</h1>

<div class = 'newEditWell' >
	<form method="post" id='newForm' action="/" enctype="multipart/form-data">
		<input type="text" class='newFormInput' name="title" placeholder="title"/>
		<br/>
		<textarea form ="newForm" class='newFormInput' rows="4" cols="50" name="body" placeholder="body"></textarea>
		<br/>
		<span>Pic 1:</span><input class='newFormInput' type="file" name="picOne" id = 'picOne' accept='image/*'/>
		<br/>
		<span>Pic 2:</span><input class='newFormInput' type="file" name="picTwo" id = 'picTwo' accept='image/*'/>
		<br/>
		<input type="submit" class='newFormInput' name="submit"/>
	</form>
</div>
<%include partials/footer.ejs %>