* {
	margin:0;
	padding:0;
}

body {
	background: salmon;	
	color:yellow;
}

 ::placeholder{
 	color: white;
 	opacity:0.75;
 	text-align: center;
 }

.navbarLink {
	display:inline-block;
	font-size: 2em;
}

.navbarLink a {
	color:white;
	text-decoration: none;
}

.navbarLink a:hover {
	text-decoration: underline;
}


.blogWell {
	width: 90%;
	margin:10px auto;
	background: darkblue;
	border-radius: 10px;
	min-height: 500px;
}

.blogImg {
	float: right;
	height: 200px;
	width: 200px;
}

.newEditWell {
	display:flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	width: 50%;
	margin:0 auto;
	background: blue;
}

.newFormInput {
	width:100%;
	background: transparent;
	border:none;
	color:white;
	border-bottom:2px solid white;
	font-size: 2em;

}

.newFormInput:focus {
	outline:none;
}

#navbar {
	position: fixed;
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:10vh;
	background-color: black;
	width: 100%;
}

#headerSpacer{
	width:100%;
	height: 10vh;
}